/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#titulo {
    color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Asegura que el contenido ocupe al menos el 100% de la altura de la ventana */
    background-color: #ecf0f1;
    overflow: auto; /* Permite que la página haga scroll si es necesario */
}

/* Fondos y colores */
.light-theme {
    background-color: #ecf0f1; /* Gris claro como fondo principal */
}

/* Diseño del contenedor principal */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;  /* Asegura que el contenedor ocupe toda la altura de la ventana */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding: 20px;
    text-align: center;
    overflow-y: auto; /* Habilita el scroll en caso de que el contenido sea largo */
}

/* Cuando la animación termina, mostramos el contenido */
.page-wrapper.loaded {
    opacity: 1;
}

/* Estilo de la cabecera */
header {
    background-color: #2c3e50; /* Color oscuro para el encabezado */
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo de los títulos */
h1, h2 {
    font-size: 2em;
    color: #2c3e50; /* Tono oscuro para los encabezados */
    margin-bottom: 20px;
}

/* Estilo del contenido principal */
.about-project {
    flex-grow: 1;
    padding: 20px;
    text-align: left;
    background-color: #ffffff; /* Fondo blanco para las secciones de contenido */
    border-radius: 8px;  /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 20px 0;
}

ul li {
    margin-bottom: 10px;
}

/* Estilo del footer */
footer {
    background-color: #2c3e50; /* Fondo oscuro en el pie de página */
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content button {
    background-color: #f39c12; /* Amarillo cálido para el botón */
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer-content button:hover {
    background-color: #e67e22; /* Un tono más oscuro al pasar el cursor */
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:visited {
    color: #fff; /* Mantén el color blanco incluso si el enlace ha sido visitado */
}

.footer-content a:hover {
    text-decoration: underline;
}
