@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
}
  
  
